---
repos:

- repo: local
  hooks:
  - id: enforced-flake8-version
    name: Verify that enforced flake8 version stays unchanged
    description: >-
      This is a sanity check and fixer that makes sure that
      the `flake8` version in this file remains matching the
      corresponding request in the `# enforce-version` comment.
    # Using Python here because using
    # shell test does not always work in CIs:
    entry: >-
      python -c 'import pathlib, re, sys;
      pre_commit_config = pathlib.Path(sys.argv[1]);
      cfg_txt = pre_commit_config.read_text();
      new_cfg_txt = re.sub(
      r"(?P<spaces>\s+)rev:\s(?:\d+\.\d+\.\d+)\s{0,2}"
      r"#\senforce-version:\s(?P<enforced_version>\d+\.\d+\.\d+)"
      r"[ \t\f\v]*",
      r"\g<spaces>rev: \g<enforced_version>  "
      r"# enforce-version: \g<enforced_version>",
      cfg_txt,
      );
      cfg_txt != new_cfg_txt and
      pre_commit_config.write_text(new_cfg_txt)
      '
    pass_filenames: true
    language: system
    files: >-
      ^\.pre-commit-config\.ya?ml$
    types:
    - yaml

- repo: https://github.com/asottile/add-trailing-comma.git
  rev: v3.1.0
  hooks:
  - id: add-trailing-comma

- repo: https://github.com/PyCQA/isort.git
  rev: 5.12.0
  hooks:
  - id: isort
    args:
    - --honor-noqa

- repo: https://github.com/Lucas-C/pre-commit-hooks.git
  rev: v1.5.4
  hooks:
  - id: remove-tabs

- repo: https://github.com/python-jsonschema/check-jsonschema.git
  rev: 0.29.1
  hooks:
  - id: check-github-workflows
    files: ^\.github/workflows/[^/]+$
    types:
    - yaml
  - id: check-jsonschema
    name: Check GitHub Workflows set timeout-minutes
    args:
    - --builtin-schema
    - github-workflows-require-timeout
    files: ^\.github/workflows/[^/]+$
    types:
    - yaml
  - id: check-readthedocs

- repo: https://github.com/Lucas-C/pre-commit-hooks-markup.git
  rev: v1.0.1
  hooks:
  - id: rst-linter
    files: README.rst

- repo: https://github.com/pre-commit/pre-commit-hooks.git
  rev: v4.5.0
  hooks:
  # Side-effects:
  - id: trailing-whitespace
  - id: check-merge-conflict
  - id: double-quote-string-fixer
  - id: end-of-file-fixer
  - id: requirements-txt-fixer

  # Non-modifying checks:
  - id: name-tests-test
  - id: check-added-large-files
  - id: check-byte-order-marker
  - id: check-case-conflict
  # disabled due to pre-commit/pre-commit-hooks#159
  # - id: check-docstring-first
  - id: check-json
  - id: check-symlinks
  - id: check-yaml
  - id: detect-private-key

  # Heavy checks:
  - id: check-ast
  - id: debug-statements

- repo: https://github.com/PyCQA/pydocstyle.git
  rev: 6.3.0
  hooks:
  - id: pydocstyle

- repo: https://github.com/codespell-project/codespell.git
  rev: v2.2.6
  hooks:
  - id: codespell

- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.32.0
  hooks:
  - id: yamllint
    types:
    - file
    - yaml
    args:
    - --strict

- repo: https://github.com/PyCQA/flake8.git
  rev: 6.1.0
  hooks:
  - id: flake8
    alias: flake8-no-wps
    name: flake8 WPS-excluded
    additional_dependencies:
    - darglint ~= 1.8.1
    - flake8-2020 ~= 1.7.0
    - flake8-annotations ~= 2.9.1; python_version >= "3.7"
    - flake8-annotations ~= 2.7.0; python_version < "3.7"
    - flake8-docstrings ~= 1.6.0
    - flake8-length ~= 0.3.0
    - flake8-logging-format ~= 0.7.5
    - flake8-pytest-style ~= 1.6.0
    - flake8-spellcheck ~= 0.28.0; python_version >= "3.8"
    - flake8-spellcheck ~= 0.26.0; python_version < "3.8"
    language_version: python3

- repo: https://github.com/PyCQA/flake8.git
  # NOTE: This is kept at v4 for until WPS starts supporting flake v5.
  rev: 4.0.1  # enforce-version: 4.0.1
  hooks:
  - id: flake8
    alias: flake8-only-wps
    name: flake8 WPS-only
    args:
    - --select
    - WPS
    additional_dependencies:
    - wemake-python-styleguide ~= 0.17.0
    language_version: python3

- repo: https://github.com/pre-commit/mirrors-mypy.git
  rev: v1.6.1
  hooks:
  - id: mypy
    alias: mypy-py312
    name: MyPy, for Python 3.12
    additional_dependencies:
    - .
    - attrs
    - types-PyYAML
    args:
    - --namespace-packages
    - --pretty
    - --python-version=3.12
    - --show-column-numbers
    - --show-error-codes
    - --show-error-context
    - --strict-optional
    - -p
    - octomachinery
    - -p
    - tests
    pass_filenames: false

- repo: https://github.com/pre-commit/mirrors-mypy.git
  rev: v1.6.1
  hooks:
  - id: mypy
    alias: mypy-py310
    name: MyPy, for Python 3.10
    additional_dependencies:
    - .
    - attrs
    - types-PyYAML
    args:
    - --namespace-packages
    - --pretty
    - --python-version=3.10
    - --show-column-numbers
    - --show-error-codes
    - --show-error-context
    - --strict-optional
    - -p
    - octomachinery
    - -p
    - tests
    pass_filenames: false

- repo: https://github.com/pre-commit/mirrors-mypy.git
  rev: v1.6.1
  hooks:
  - id: mypy
    alias: mypy-py38
    name: MyPy, for Python 3.8
    additional_dependencies:
    - .
    - attrs
    - types-PyYAML
    args:
    - --namespace-packages
    - --pretty
    - --python-version=3.8
    - --show-column-numbers
    - --show-error-codes
    - --show-error-context
    - --strict-optional
    - -p
    - octomachinery
    - -p
    - tests
    pass_filenames: false

- repo: https://github.com/pre-commit/mirrors-mypy.git
  rev: v1.6.1
  hooks:
  - id: mypy
    alias: mypy-py37
    name: MyPy, for Python 3.7
    additional_dependencies:
    - .
    - attrs
    - types-PyYAML
    args:
    - --namespace-packages
    - --pretty
    - --python-version=3.8
    - --show-column-numbers
    - --show-error-codes
    - --show-error-context
    - --strict-optional
    - -p
    - octomachinery
    - -p
    - tests
    pass_filenames: false

- repo: https://github.com/PyCQA/pylint.git
  rev: v2.17.6
  hooks:
  - id: pylint
    additional_dependencies:
    # runtime deps:
    - aiohttp
    - anyio < 2.0.0
    - click
    - cryptography
    - environ-config >= 19.1.0
    - envparse
    - gidgethub >= 4.2.0
    - pyjwt[crypto]
    - pyyaml
    - sentry_sdk
    - setuptools_scm
    # test deps:
    - pylint-pytest < 1.1.0
    - pytest
    - pytest-aiohttp
    - pytest-cov
    - pytest-xdist

...
